/* Reset básico */
body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

/* Estilo del header */
.header {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/hero-background2.webp") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 10;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); /* Efecto de superposición oscura */
}

.hero {
  margin-top: 200px;
  position: relative;
  z-index: 1;
}

.logo img {
  margin-top: 20px;
  width: 50%;
}

.hero h1 {
  font-size: 3em;
  margin-bottom: 20px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
  animation: slide-in 1s ease-out;
}

.hero p {
  font-size: 1.5em;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  animation: fade-in 2s ease-out;
}

@keyframes slide-in {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Estilo de secciones */
.section {
  padding: 100px 20px;
  background-color: #fff;
  text-align: center;
  position: relative;
  z-index: 5;
}

.section h2.highlighted {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 40px;
  position: relative;
  z-index: 5;
  text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.8);
}

.section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #f06, #f4f4f4);
  clip-path: circle(70% at 50% 30%);
  z-index: 0;
}

/* Estilo de la sección de contacto */
.section-contacto {
  background-color: #fff;
  text-align: center;
  position: relative;
  background: linear-gradient(135deg, #f06, #f4f4f4);
  clip-path: circle(70% at 50% 30%);
}

.section-contacto h2.highlighted {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 40px;
  position: relative;
  text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.8);
}

/* Estilo de contenedores sticky */
.sticky-container {
  position: relative;
  display: flex;
  align-items: flex-start;
  background: #f7f7f7;
  padding: 50px 0;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  z-index: 0;
}

.sticky-image {
  position: sticky;
  top: 0;
  flex: 1;
  padding: 20px;
}

.sticky-image img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.sticky-image img:hover {
  transform: scale(1.05);
}

.scroll-text {
  flex: 1;
  margin-left: 20px;
  padding: 20px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 5;
}

.scroll-text article {
  margin-bottom: 60px;
}

.scroll-text h3 {
  font-size: 2em;
  margin-bottom: 10px;
  color: #e8491d;
}

.scroll-text p {
  font-size: 1.2em;
  color: #666;
}

.scroll-text img {
  max-width: 80%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
}

.scroll-text img:hover {
  transform: scale(1.05);
}

/* Estilo de la sección de testimonios */
.testimonios {
  background: linear-gradient(135deg, #f4f4f4, #d4d4d4);
  padding: 80px 20px;
  margin-top: 80px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  z-index: 5;
  text-align: center;
}

.testimonios h2 {
  margin-bottom: 40px; /* Añade espacio inferior al título */
}

.postit-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  transform: rotate(-5deg);
}

.postit {
  background: #ffeb3b;
  color: #333;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  width: 50%;
  margin: 20px auto;
}

.postit::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 10px;
  width: 30px;
  height: 10px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: rotate(-30deg);
}

.postit p {
  margin-bottom: 10px;
  font-size: 1.1em;
}

.postit cite {
  font-style: italic;
  color: #555;
}

/* Animación de fade-in al hacer scroll */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Botones de llamada a la acción */
.cta-button {
  display: inline-block;
  padding: 15px 30px;
  margin: 20px;
  background: linear-gradient(45deg, #e8491d, #cf3f16);
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
  font-size: 1.2em;
  transition: background 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cta-button:hover {
  background: linear-gradient(45deg, #cf3f16, #e8491d);
}

.contacto {
  padding: 30px 40px;
}

/* Redes Sociales */
.social-media {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.social-media a {
  text-decoration: none;
  color: #333;
  font-size: 24px;
  transition: color 0.3s ease;
}

.social-media a:hover {
  color: #e8491d;
}

.social-media a i {
  font-size: 30px;
}

/* Estilo del pie de página */
footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 30px 0;
}

footer p {
  margin: 5px 0;
}

footer a {
  color: #e8491d;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Media Queries para dispositivos responsivos */
@media (max-width: 1200px) {
  .header {
    height: 80vh;
  }

  .hero h1 {
    font-size: 3em;
  }

  .hero p {
    font-size: 1.3em;
  }

  .section {
    padding: 80px 15px;
  }

  .scroll-text h3 {
    font-size: 1.8em;
  }
  .hero {
    padding: 120px 15px;
    margin-top: 100px;
  }
  .hero h1 {
    font-size: 2em;
  }
  .logo img {
    width: 55%;
  }

  .postit {
    transform: rotate(-2deg);
    width: 70%;
  }

  .postit::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 10px;
    width: 30px;
    height: 10px;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: rotate(-10deg);
  }

  .postit p {
    font-size: 1em;
  }
}

/* Cambios para desactivar sticky y ajustar layout en tablets y móviles */
@media (max-width: 1024px) {
  .sticky-image {
    position: relative; /* Desactiva el sticky en tablets */
    padding: 10px;
  }

  .sticky-container {
    flex-direction: column;
  }

  .scroll-text {
    margin-left: 0;
    padding: 10px;
  }

  .scroll-text img {
    max-width: 100%;
  }

  .postit-container {
    grid-template-columns: 1fr; /* Una columna en tablets */
    transform: rotate(-2deg);
  }

  .postit {
    width: 50%;
    margin-bottom: 20px;
  }

  .testimonios {
    grid-template-columns: 1fr; /* Una columna en tablets */
  }

  .hero {
    padding: 120px 15px;
  }
  .hero h1 {
    font-size: 2em;
  }
  .logo img {
    width: 55%;
  }

  .social-media a {
    font-size: 20px;
  }

  .social-media a i {
    font-size: 26px;
  }
  
}

@media (max-width: 480px) {
  .hero {
    padding: 120px 15px;
  }
  .hero h1 {
    font-size: 2em;
  }

  .hero p {
    font-size: 1em;
  }

  .cta-button {
    padding: 10px 20px;
    font-size: 1em;
  }

  .section h2.highlighted {
    font-size: 1.8em;
  }

  .scroll-text h3 {
    font-size: 1.5em;
  }

  .postit-container {
    grid-template-columns: 1fr; /* Una columna en móviles */
  }

  .postit {
    width: 100%;
    margin-bottom: 20px;
  }

  .testimonios {
    grid-template-columns: 1fr; /* Una columna en móviles */
  }

  .section-contacto {
    padding: 120px 15px;
  }

  .logo img {
    width: 70%;
  }

  .social-media a {
    font-size: 18px;
  }

  .social-media a i {
    font-size: 22px;
  }
}
